article p:first-child {
    font-size: 120%;
    font-weight: bold;
}
a:link,
a:visited {
    color: rgb(0, 0, 0);
    font-weight: bold;
}
a:hover {
    color:rgb(255, 0, 0);
}   
body {
    background-image: url(https://img.freepik.com/premium-vector/transparent-background-designs-abstract-seamless-background-with-pattern_186380-4997.jpg?w=740);
    background-repeat: no-repeat;
    background-size: cover;
  }
